<script src="../../../node_modules/chart.js/src/chart.js"></script>
<ion-header>
        <ion-navbar color="primary" enable-menu-with-back-views="false">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>More</ion-title>
            <ion-buttons end>
    
            </ion-buttons>
        </ion-navbar>
    
    </ion-header>
    <ion-content>
       <!-- <h1 text-center (click)="openLink()">{{bill.title}}</h1> -->

       <ion-card>
            <ion-item>
                    <h2><strong (click)="openLink()">Title</strong></h2>
                    <h3 text-wrap>{{bill.title}}</h3>
                  </ion-item>
                    <ion-item>
              <h2><strong>Date Introduced</strong></h2>
              <h3>{{bill.introduced_date}}</h3>
            </ion-item>
            <ion-item>
                    <h2><strong>Bill Number</strong></h2>
                    <h3>{{bill.number}}</h3>
                  </ion-item>
          <ion-item>
                <h2><strong>Committees</strong></h2>
                <h3>{{bill.committees}}</h3>
              </ion-item>
              <ion-item text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" *ngIf="bill.summary">
                    <h2><strong>Summary</strong>&nbsp;&nbsp;<ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon></h2>
                    <h3 *ngIf="isGroupShown(i)">{{bill.summary}}</h3>
                  </ion-item>
                  <ion-item>
                        <h2 *ngIf="either"><strong>Party Support</strong></h2>
                        
                        <canvas *ngIf="either" baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                            </ion-item>
      </ion-card>


    </ion-content>