<ion-header>
        <ion-navbar color="primary" enable-menu-with-back-views="false">
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>Comments</ion-title>
            <ion-buttons end>
    
            </ion-buttons>
        </ion-navbar>
    
    </ion-header>
    <ion-content>
        <br>

    
                  <!-- <div *ngFor="let comment of listOfComments">
                    {{comment.comment}}
                  </div> -->
                  <div *ngIf="!(doughnutChartData[0]==0 && doughnutChartData[1]==0 && doughnutChartData[2]==0)">
                  <h1 text-center>Sentiment</h1>
                  <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
                </div>


<h1 text-center>Comments</h1>
                  <ion-list>
                      <div *ngFor="let comment of listOfComments">
                        <ion-item >
                                <p style="font-size: 9px"text-wrap><strong>{{comment.username}}</strong> at {{comment.time}}</p>                                
                          <h2 text-wrap>{{comment.text}}</h2>
                          <button clear ion-button item-right><ion-icon  name="ios-add" (click)="makeChild(comment)"></ion-icon></button>                                                                                
                          <!-- <button clear ion-button item-right><ion-icon  name="md-arrow-dropright" (click)="openChild()"></ion-icon></button>                                                       -->
                        </ion-item>

                        <div *ngIf="comment.childarray">
                        <ion-item style="padding-left: 50px;" *ngFor="let child of comment.childarray">
                                <p style="font-size: 9px" text-wrap><strong>{{comment.username}}</strong> at {{child.time}}</p>                                
                            <h2 text-wrap>{{child.comment}}</h2>
                              </ion-item>
                            </div>

                        <ion-item *ngIf="comment.creating=='true'" style="padding-left: 50px;">
                                <ion-label color="primary" stacked>Comment</ion-label>
                                <ion-input [(ngModel)]="childtext"type="email" placeholder="Your opinion..."></ion-input>
                                <button clear ion-button item-right><ion-icon  name="ios-close" (click)="closeNew(comment)"></ion-icon></button>                                                            
                                <button clear ion-button item-right><ion-icon  name="ios-send" (click)="postChild(comment)"></ion-icon></button>                            
                            </ion-item>

                        </div>
                      </ion-list>

                
    </ion-content>
          
    <ion-footer>
            <ion-item style="border: 4px solid rgb(114, 195, 253)">
                    <ion-label color="primary" stacked>Comment</ion-label>
                    <ion-input [(ngModel)]="text"type="email" placeholder="Your opinion..."></ion-input>
                    <button ion-button item-right><ion-icon  name="ios-send" (click)="postComment()"></ion-icon></button>                            
                </ion-item>
        </ion-footer>
